footer
  .container.text-center
    p.float-left 2020
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/mshd/image-database-express') GitHub Project
      li.list-inline-item
        a(href='https://github.com/mshd/image-database-express/issues') Issues
