extends ../layout

block content
    .page-header
        h3 All Images

    table(style='width:100%')
        tr
            th Image
            th Face
            th Head
            th View Count
            th Wikidata Id
            th Wikidata Label
            th Type
            th Source
            th URL
            th Created
            if user && user.role === 'admin'
                th Uploaded By
                th Action

        for image in images
            tr
                td
                    if image.wikidataEntity
                        img(src='https://images.dataprick.com/api/v1/image/thumbnail/id/' + image.id, style='max-height:'+ imageHeight+ 'px' )
                    else
                        span Image
                td
                    if image.wikidataEntity
                        a(target='_blank' href='/api/v1/image/facecrop/id/' + image.id) IM
                        img(src='https://images.dataprick.com/api/v1/image/facecrop/id/' + image.id, style='max-height:'+ imageHeight+ 'px' )
                    else
                        span Image
                td
                    if image.wikidataEntity
                        a(target='_blank' href='/api/v1/image/facecrop/id/' + image.id+ '?factor=1.4') IM
                        img(src='https://images.dataprick.com/api/v1/image/facecrop/id/' + image.id+ '?factor=1.4', style='max-height:'+ imageHeight+ 'px' )
                    else
                        span Image
                td=image.viewCount
                td
                    a(target='_blank' href=`https://www.wikidata.org/wiki/Q${image.wikidataEntity}`)
                        =image.wikidataEntity