extends layout

block content
  h1 Image DB
  p.lead A Wikidata extension
  p Here you can upload pictures of Wikidata items, usually people. All images will be cropped using smart-crop to a resolution of 200 x 200 pixels. So it's best if you upload square photos.
  hr

  h3 Request an image
  div
    span Please use a valid Wikidata item id, without the Q. The returned image will be thumbnail with dimensions 200 x 200 pixels.
    ul
      li
        a(href='/api/image/info/4115189') /api/image/info/$ID
        small(style='margin-left:10px') Get Json info about a file
      li
        a(href='/api/getImage/4115189') /api/getImage/$ID
        small(style='margin-left:10px') Get an image (return 404 on error)

  //.row
  //  .col-md-6
  //    h2 Heading
  //    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //    p
  //      a.btn.btn-raised(href='#', role='button') View details »
  //  .col-md-6
  //    h2 Heading
  //    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //    p
  //      a.btn.btn-raised(href='#', role='button') View details »
  //  .col-md-6
  //    h2 Heading
  //    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //    p
  //      a.btn.btn-raised(href='#', role='button') View details »
  //  .col-md-6
  //    h2 Heading
  //    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //    p
  //      a.btn.btn-raised(href='#', role='button') View details »