extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fas.fa-upload.fa-sm
      | Image File Upload

  //.btn-group.d-flex(role='group')
  //  a.btn.btn-success(href='https://github.com/expressjs/multer', target='_blank').w-100
  //    i.fas.fa-book.fa-sm
  //    | Multer Documentation
  //  a.btn.btn-success(href='http://codepen.io/search/pens?q=custom+file+upload&limit=all&type=type-pens', target='_blank').w-100
  //    i.fas.fa-laptop.fa-sm
  //    | Customize File Upload

  //h3 File Upload Form
  .row
    .col-md-6
      p All files will be uploaded to "/uploads" directory and entered.
      form(role='form', enctype='multipart/form-data', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-form-label.font-weight-bold Name
          .col-md-6
            input(type='text', name='name')
          label.col-form-label.font-weight-bold Wikidata ID
          .col-md-6
            input(type='text', name='wikidataEntity', class='wikidata-searchbox', required)
          .col-md-6
            input(type='hidden', name='wikidataEntityId' id='wikidataEntity_id')
          label.col-form-label.font-weight-bold File Input
          .col-md-6
            input(type='file', name='myFile', accept='image/*')
          label.col-form-label.font-weight-bold File URL
          .col-md-6
            input(type='text', name='sourceUrl')
        button.btn.btn-primary(type='submit') Submit
